@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<br>
<p>The product is a budget manager designed to let users monitor their finances.  
It gives a user the ability to set up a weekly budget that is comprised of whatever 
the user specifies as their personal expenses.  A user must make an account and 
login to create and view their current budget.  The user can create separate tabs 
that will describe different expenditures that the user has.  Using this product, 
a user can more easily understand their budget by having a simple interface that can
quickly tell them how much they are able to spend on whatever expenditure with the 
amount of money they currently have left for the week.  This product will eliminate
overspending on any one of the user’s expenditures.</p>
