@model IEnumerable<PFM.Models.Categories>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Personal Finance Manager</h1>
    <p class="lead">Personal Finance Manager is a system for people to keep track of their current expenditures and plan for the future.</p>
    
	<br>


    <p><a asp-area="" asp-controller="Categories" asp-action="Index" asp-route-userID="@ViewBag.userID" class ="btn btn-primary btn-lg">Weekly Planner &raquo;</a></p>
 
    <p>
        Remaining Buget:  $@ViewBag.remaining
    </p>

    <p><a asp-area="" asp-controller="Transactions" asp-action="Reset" class="btn btn-primary btn-lg">Reset transactions&raquo;</a></p>
    
</div>
